## HW10

### 1. Getting to know the data

In [54]:
import psycopg2

db_params = {
    "dbname": "postgres",
    "user": "student",
    "password": "mds-is-fun",
    "host": "postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com",
    "port": 5432,
}

connection = psycopg2.connect(**db_params)

print("Connection DONE.")

Connection DONE.

In [55]:
 %pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/rr/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/rr/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/rr/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/rr/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/rr/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/rr/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/rr/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/rr/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/rr/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/rr/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [56]:
%pip install PyMySQL

Requirement already satisfied: PyMySQL in /Users/rr/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
%pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/rr/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [58]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [59]:
%sql postgresql://student:mds-is-fun@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres

In [60]:
%%sql
SELECT * FROM pg_catalog.pg_tables WHERE schemaname='public';

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
37 rows affected.

[('public', 'calendarcustom', 'tbrambor', None, False, False, False, False),
 ('public', 'complaint', 'tbrambor', None, False, False, False, False),
 ('public', 'prevcommission', 'tbrambor', None, False, False, False, False),
 ('public', 'imprisonment', 'tbrambor', None, False, False, False, False),
 ('public', 'source', 'tbrambor', None, False, False, False, False),
 ('public', 'confession', 'tbrambor', None, False, False, False, False),
 ('public', 'appeal', 'tbrambor', None, False, False, False, False),
 ('public', 'weathermodification', 'tbrambor', None, False, False, False, False),
 ('public', 'demonicpact', 'tbrambor', None, False, False, False, False),
 ('public', 'musicalinstrument', 'tbrambor', None, False, False, False, False),
 ('public', 'torture', 'tbrambor', None, False, False, False, False),
 ('public', 'witchesmeetingplace', 'tbrambor', None, False, False, False, False),
 ('public', 'malice', 'tbrambor', None, False, False, False, False),
 ('public', 'religiousmotif', 'tbrambor', None, False, False, False, False),
 ('public', 'othernamedwitch', 'tbrambor', None, False, False, False, False),
 ('public', 'accused_family', 'tbrambor', None, False, False, False, False),
 ('public', 'elf_fairyelements', 'tbrambor', None, False, False, False, False),
 ('public', 'trial', 'tbrambor', None, False, False, False, False),
 ('public', 'ritualobject', 'tbrambor', None, False, False, False, False),
 ('public', 'movestohla', 'tbrambor', None, False, False, False, False),
 ('public', 'othercharges', 'tbrambor', None, False, False, False, False),
 ('public', 'commission', 'tbrambor', None, False, False, False, False),
 ('public', 'ordeal', 'tbrambor', None, False, False, False, False),
 ('public', 'person', 'tbrambor', None, False, False, False, False),
 ('public', 'reference', 'tbrambor', None, False, False, False, False),
 ('public', 'case_person', 'tbrambor', None, False, False, False, False),
 ('public', 'counterstrategy', 'tbrambor', None, False, False, False, False),
 ('public', 'ref_parish', 'tbrambor', None, False, False, False, False),
 ('public', 'linkedtrial', 'tbrambor', None, False, False, False, False),
 ('public', 'whitemagic', 'tbrambor', None, False, False, False, False),
 ('public', 'devilappearance', 'tbrambor', None, False, False, False, False),
 ('public', 'mentionedaswitch', 'tbrambor', None, False, False, False, False),
 ('public', 'propertydamage', 'tbrambor', None, False, False, False, False),
 ('public', 'shapechanging', 'tbrambor', None, False, False, False, False),
 ('public', 'trial_person', 'tbrambor', None, False, False, False, False),
 ('public', 'accused', 'tbrambor', None, False, False, False, False),
 ('public', 'denunciation', 'tbrambor', None, False, False, False, False)]

In [61]:
%sql SELECT * FROM accused LIMIT 3;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
3 rows affected.

[('A/EGD/10', 'EGD', 10, 'Mareon', 'Quheitt', 'Marion', 'White', None, None, None, 'Female', None, False, False, 'Sammuelston', 'P/JO/3539', 'Haddington', 'Haddington', None, None, None, None, None, None, None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-08-09T11:40:51'),
 ('A/EGD/100', 'EGD', 100, 'Thom', 'Cockburn', 'Thomas', 'Cockburn', None, None, None, 'Male', None, False, False, None, None, None, 'Haddington', None, None, None, None, None, None, None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-10-02T10:32:30'),
 ('A/EGD/1000', 'EGD', 1000, 'Christian', 'Aitkenhead', 'Christine', 'Aikenhead', None, None, None, 'Female', None, False, False, 'Rottinraw', None, None, 'Dumfries', None, None, None, None, None, 'Married', None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-10-01T10:48:12')]

In [62]:
%sql SELECT COUNT(*) FROM accused;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(3219,)]

In [63]:
%sql SELECT COUNT(*) FROM accused WHERE age IS NOT NULL;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(166,)]

In [64]:
%sql SELECT DISTINCT occupation FROM accused;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
32 rows affected.

[('Stabler',),
 ('Blacksmith',),
 ('Mealmaker',),
 ('Minister',),
 ('School teacher',),
 ('Shop-keeper',),
 ('Healer',),
 (None,),
 ('Workman',),
 ('Weaver',),
 ('Messenger',),
 ('Servant',),
 ('Tasker',),
 ('Smith',),
 ('Henwife',),
 ('Sailor',),
 ('Nurse',),
 ('Cook',),
 ('Collier',),
 ('Midwife',),
 ('Merchant',),
 ('Maltman',),
 ('Slaterer',),
 ('Vagabond',),
 ('Tailor',),
 ('Fisherman',),
 ('School Master',),
 ('Loadman',),
 ('Brewster',),
 ('Miller',),
 ('Farmer',),
 ('Creelman',)]

In [65]:
%sql SELECT (SELECT COUNT(*) FROM accused WHERE sex = 'Female')::float / (SELECT COUNT(*) FROM accused) AS female_proporti

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.8393911152531842,)]

### 2. Seeing the Devil

In [66]:
%sql SELECT DISTINCT devil_type FROM devilappearance;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
16 rows affected.

[(None,),
 ('Other Demon',),
 ('Fairy',),
 ('Human Devil',),
 ('Male Fairy',),
 ('Female Fairy',),
 ('Male',),
 ('Inanimate Object Devil',),
 ('Animal Devil',),
 ('Baby',),
 ('Insect Devil',),
 ('Ghost',),
 ('Spirit',),
 ('Female',),
 ('Child Devil',),
 ('Unspecified Devil',)]

In [67]:
%sql SELECT COUNT(*) FROM devilappearance WHERE LOWER(devil_text) LIKE '%black%';

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(121,)]

In [68]:
%sql SELECT (SELECT COUNT(*) FROM devilappearance WHERE devil_type = 'Male')::float /(SELECT COUNT(*) FROM devilappearance) AS male_proportion;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.6313131313131313,)]

### 3. The trial

In [69]:
%sql SELECT AVG(male_accusers) AS avg_male_accusers, MAX(male_accusers) AS max_male_accusers, AVG(female_accusers) AS avg_female_accusers, MAX(female_accusers) AS max_female_accusers FROM trial;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.4181988158304768, 48.0, 0.2559226932668329, 27.0)]

In [70]:
%sql SELECT sentence AS "Sentence Type", COUNT(*) AS "Number of Sentences" FROM trial WHERE sentence IS NOT NULL GROUP BY sentence ORDER BY COUNT(*) DESC

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
10 rows affected.

[('Execution', 205),
 ('Released', 52),
 ('Banishment', 27),
 ('Declared Fugitive', 11),
 ('Excommunicated', 6),
 ('Put to the horn', 2),
 ('Public Humiliation', 1),
 ('Branded', 1),
 ('Hang', 1),
 ('Prison', 1)]

In [71]:
%sql SELECT verdict AS "Verdict Type", AVG(male_accusers + female_accusers) AS "Average Number of Accusers" FROM trial GROUP BY verdict ORDER BY AVG(male_accusers + female_accusers) DESC;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
5 rows affected.

[('Guilty', 5.804255319148936),
 ('Not Guilty', 4.558139534883721),
 ('Not Proven', 1.0),
 ('Half Guilty', 0.2857142857142857),
 (None, 0.2013053933356235)]

### 4. Tortured Truth

In [72]:
%%sql
SELECT 
    COUNT(DISTINCT t.trialid) AS "Total Trials",
    COUNT(DISTINCT c.confessionid) AS "Trials with Confessions",
    (COUNT(DISTINCT c.confessionid)::float / COUNT(DISTINCT t.trialid)) * 100 AS "Percentage of Trials with Confessions"
FROM trial t
LEFT JOIN confession c ON t.trialid = c.confessionid;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(2248, 709, 31.53914590747331)]

In [73]:
%%sql
SELECT * FROM trial LIMIT 3;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
3 rows affected.

[('T/JO/1', 1, 'JO', 'C/EGD/2120', 2, None, None, 'Aberdeen', 'Aberdeen', 'Aberdeen', None, None, None, False, None, None, False, None, None, False, None, None, False, None, None, None, None, False, None, None, '17/2/1597', '1997-02-17T00:00:00', 'Tolbooth', 19.0, 25.0, False, False, 'Guilty', 'Execution', False, None, None, False, None, False, False, None, True, 'Burn', None, None, None, None, None, None, None, 'Aberdeen', None, None, None, None, 'jhm', '2001-05-16T15:04:51', 'jhm', '2002-10-24T09:32:53'),
 ('T/JO/100', 100, 'JO', 'C/JO/2669', 2, None, None, None, None, None, None, None, None, False, None, None, False, None, None, False, None, None, False, None, None, None, None, False, 'Presbytery notes that none of the accused are subject to the authority of ministers or the presbytery and so cannot attest their depositions. Makghie ... (59 characters truncated) ... an be requested.  Note about re-examining the suspects in order to confirm their depositions. Once this had been done commission was to be requested.', None, None, None, None, 0.0, 0.0, False, False, None, None, False, None, None, False, None, False, False, 'No trial details.', False, None, None, None, None, None, None, None, None, None, None, None, None, None, 'jhm', '2001-06-14T14:29:49', 'LEM', '2002-11-04T10:07:05'),
 ('T/JO/1000', 1000, 'JO', 'C/EGD/1474', 2, None, None, None, None, None, None, None, None, False, None, None, False, None, None, False, None, None, False, None, None, None, None, False, 'Commission issued after accused had confessed to some aspect of witchcraft but PC urged the commissioners not to use torture and to ensure that the accused are mentally and legally competent to stand trial.', None, None, None, None, 0.0, 0.0, False, False, None, None, False, None, None, False, None, False, False, 'No details', False, None, None, None, None, None, None, None, None, None, None, None, None, None, 'jhm', '2001-10-11T16:24:03', 'jhm', '2002-10-08T10:56:06')]

In [74]:
%%sql
SELECT 
    t.executionmethod AS "Torture Used",
    COUNT(DISTINCT t.trialid) AS "Total Trials",
    COUNT(DISTINCT c.confessionid) AS "Trials with Confessions",
    (COUNT(DISTINCT c.confessionid)::float / COUNT(DISTINCT t.trialid)) * 100 AS "Percentage of Trials with Confessions"
FROM trial t
LEFT JOIN confession c ON t.trialid = c.confessionid
GROUP BY t.executionmethod
ORDER BY t.executionmethod;

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
5 rows affected.

[('Beheading', 3, 2, 66.66666666666666),
 ('Burn', 45, 26, 57.77777777777777),
 ('Hang', 1, 0, 0.0),
 ('Strangle & Burn', 125, 54, 43.2),
 (None, 2182, 668, 30.614115490375802)]